/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-abr-2020, 17:40:51
    Author     : Usuario
*/

.mensajeError {
    color:red;
    font-size: small;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: center;
}

html {
    background: #003257;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 30px 60px 30px;
}

.todo {
    background: white;
    padding: 20px;
    -webkit-border-radius: 3px 5px 1px 4px; 
    -moz-border-radius: 6px; 
    border-radius: 5px;
    margin-top: 30px;
}

.volver {
   color: white;
   text-decoration: none;
   font-size: 18px;
}

.volver:hover {
    color: gray;
}